@import 'ui-kit.scss';

//Profile
.profile {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.subtitle {
    padding-top: 24px;
    max-width: 710px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 15px;

    .button_link {
        padding-right: 45px;
    }
}

.social {
    .social_icon {
        margin-right: 16px;
    }
}


//Jobs--Tabs
.tab-title {
    display: flex;
    justify-content: space-between;

    margin-top: 116px;
}

.tab {
    overflow: hidden;
    
    button {
        background-color: transparent;
        border: 1px solid $color-blue;
        color: $color-black;
        padding: 9px 24px;

        float: left;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:first-child {
            border-radius: 4px 0px 0px 4px;
        }

        &:last-child {
            border-radius: 0px 4px 4px 0px;
        }

        &:hover {
            background-color: $color-light-blue;
        }

        &.active {
            background-color: $color-blue;
            border: 1px solid $color-blue;
            color: $color-white;
        }
    }

}

//Jobs--Cases
.cases {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
}

.case {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 100%;
    margin-bottom: 60px;

    img {
        width: 525px;
    }

    .case-content {
        display: flex;
        flex-direction: column;
        min-width: 525px;

        .case-title {
            padding-top: 0px;
        }

        .case-tags {
            padding-top: 12px;
        }

        .case-subtitle {
            padding-top: 24px;
            max-width: 525px;
        }

        .case-button {
            padding-top: 24px;

            .button {
                margin-right: 16px;
            }
        }
    }

}

//My projects
.projects {
    margin-top: 96px;

    .project_list {
        margin-top: 36px;
        display: flex;

        .project_item {
            margin-right: 30px;
            max-width: 340px;

            &:last-child {
                margin-right: 0px;
            }

            .project_title {
                display: block;
                cursor: pointer;
                text-decoration: none;

                color: $color-blue;
                padding-bottom: 12px;
                border-bottom: 2px dotted $color-black;
                margin-bottom: 12px;

                span {
                    color: $color-black;
                }
            }
        }
    }
}

//Articles
.articles {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .article_title {
        min-width: 340px;
        margin-bottom: 36px;
    }

    .articles_list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 710px;

        .article_item {
            display: block;
            max-width: 340px;
            color: $color-blue;
            margin-bottom: 24px;

            &:first-child {
                margin-right: 30px;
            }
        }
    }
}

//Footer
.footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border-top: 1px solid $color-black;
    margin-top: 72px;

    .contacts {
        display: flex;
        align-items: center;
        padding-right: 6px;

        .mail {
            color: $color-black;
            text-decoration: none;

            &:hover {
                color: $color-blue;
            }
        }

        .footer_icons {
            margin-left: 40px;

            .footer_icon {
                padding-left: 24px;
            }
        }
    }
}




@media (max-width: 1120px) {
    
    .profile {
        margin-top: 36px;
    }

    .avatar {
        padding-bottom: 36px;

        img {
            max-width: 168px;
        }
    }

    .links {
        .button_link {
            padding-right: 25px;
        }
    }

    .case {

        img {
            width: 100%;
        }

        .case-content {
            min-width: 100%;

            .case-title {
                padding-top: 12px;
            }
            .case-subtitle {
                max-width: 100%;
                min-width: 320px;
                padding-top: 12px;
            }
            .case-button {
                padding-top: 20px;
            }
        }
    }

    .article_item {
        max-width: 300px;
    }

    .contacts {
        padding-right: 0px;
        display: block;

        .footer_icon {
            display: none;
        }
    }


}




@media (max-width: 414px) {

    .avatar {
        padding-bottom: 12px;

        img {
            max-width: 132px;
        }
    }

    .links {
        margin-top: 24px;

        .button_link {
            padding: 24px 0px 0px 0px;
        }
    }

    .tab-title {
        margin-top: 84px;
    }

    .tab {
        button {
            padding: 6px 16px;
        }
    }

    .case_subtitle {
        padding-top: 0px;
    }

    .projects {
        margin-top: 48px;

        .project_list {
            flex-wrap: wrap;
            margin-top: 24px;
    
            .project_item {
                margin-bottom: 36px;
            }
        }
    }


    .articles {
        margin-top: 24px;

        .article_title {
            margin-bottom: 24px;
        }
    }

    .footer {
        margin-top: 48px;

        .contacts {
            .mail {
                display: none;
            }
        }
    }

}